*{
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 6em
}

.grid{
  display: grid;
  grid-template: auto;
}

input{
  border-radius: 2px;
  border: 1px;
  background-color: rgb(239, 239, 239);
}

.btn{
  border-radius: 2px;
  border: 1px;
  padding: 10px;
  background-color: rgba(97, 232, 56, 0.757);
  margin-left: 40px;
  margin-right: auto;
  margin-top: 10px;
  width: 6em;

}